	.btn {
   font-family: "Gotham Rounded A","Gotham Rounded B","Gotham Rounded","Helvetica Neue",Helvetica,Arial,sans-serif!important;
   font-weight: 400;
   color: #ffffff;
   font-size: 13px;
   background: #000000;
   padding: 10px 15px 10px 15px;
   text-decoration: none;
   cursor:pointer
}
.red1 input {
border:2px solid #ce301e;
}

.red1 label {
color:#ce301e;
}
.red1 div {
color:#ce301e;
}

.is-focused label{
color:#31766f;
}

.pseudo-table {
    display: table;  }

label {
    display: table-header-group;
}

input {
    display: table-row-group; 
	
}

select {
display:table-row-group;
}
select:focus + label {
    color:#31766f;
    font-weight: bold;
	font-size:14.5px;
}

input:focus + label {
    color:#31766f;
    font-weight: bold;
	font-size:14.5px;
}

	input:focus {
		border:2px solid #31766f;
	}

select:focus {
	border:2px solid #31766f;
}