<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8	 ">
			<h1>Property information</h1>
				<div class="well">
				<form [ngFormModel]="form" >
					<fieldset>
						<legend>
							Tell us about the property you'd like to purchase.
						</legend>
						<div class="row">
							<div class="form-group col-md-8">
								<label for="street">
									Street address
								</label>
								<input type="text"
									   class="form-control"
									   id="street"
									   ngControl="street"
									   placeholder="Enter a location"
									   #street="ngForm" />
								<div *ngIf="!street.valid && nextattempt" class="alert alert-danger">
									Required.
								</div>
								</div>
		
							<div class="form-group col-md-4">
								<label for="aptunit">
									Apt/Unit
								</label>
								<input type="text"
									   class="form-control"
									   id="aptunit"
									   ngControl="aptunit" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<label for="zipcode">
									ZIP code
								</label>
								<input type="text"
									   class="form-control"
									   id="zipcode"
									   ngControl="zipcode" />
							</div>
							<div class="form-group col-md-4">
								<label for="city">
									City
								</label>
								<input type="text"
									   class="form-control"
									   id="city"
									   ngControl="city" />
							</div>
							<div class="form-group col-md-4">
								<label for="state">
									State
								</label>
								<input type="text"
									   class="form-control"
									   id="state"
									   ngControl="state" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<label for="homevalue">
									Estimated home value
								</label>
								<input type="text"
									   class="form-control"
									   id="homevalue"
									   ngControl="homevalue" />
							</div>
							<div class="form-group col-md-4">
								<label for="propertyusage">
									Property usage
								</label>
								<input type="text"
									   class="form-control"
									   id="propertyusage"
									   ngControl="propertyusage" />
							</div>
							<div class="form-group col-md-4">
								<label for="propertytype">
									Property type
								</label>
								<select class="form-control"
										id="propertytype"
											ngControl="propertytype">
									<option value=""></option>
									<option *ngFor="let propertytype of propertytypes" [value]="propertytype">{{propertytype}}</option>
								</select>
							</div>
						</div>
						<div style="padding-left:630px">
							<button class="btn" type="button" (click)="next()" >Next</button>
						</div>


					</fieldset>
				</form>

			</div>
		</div>
	</div>
</div>

